.fixed-top-bar {
    z-index: 1;
    width: 100%;
    flex-shrink: 0;
    }

  .top-bar-content {
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top-bar-text {
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 1em;
    color: #FFFFFF;
  }
  
  .premium-top-bar-button {
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.4s;
      background: linear-gradient(to right, #A11CF3, #D835C5);
      border: 0;
      line-height: 225%;
      width: 10rem;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: #fff;
      border-radius: 8px;
  }

    
  .premium-top-bar-button:hover {
    --p: 100%;
    background: rgba(223, 172, 255, 0.1);
  }

  
  @media screen and (max-width: 800px) {
    .top-bar-content, .top-bar-text, .premium-top-bar-button {
      display: none;
    }
  }
